.header {
    -fx-font-weight: bold;
    -fx-font-size: 150%;
}

.title {
    -fx-font-size: 250%;
}

#divider {
    -fx-stroke: rgb(195, 195, 162);
}

#submit {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, rgb(49, 191,  234);
}

#submit:focused {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(66, 134, 244);;
}

.error {
    -fx-fill: rgba(255, 214, 214, 1) !important;
    -fx-text-fill: red !important;
}

.disabled {
    -fx-fill: transparent;
    -fx-text-fill: transparent;
}


.mark_delete {
    -fx-control-inner-background: pink;
    -fx-text-fill: red;
}