* {
    -fx-btn-hover: rgba(64, 64, 64, 0.2);
    -fx-btn-pressed: rgba(5, 5, 5, 0.35);
}

.box {
    -fx-padding: 15;
    -fx-spacing: 15;
    -fx-alignment: center-left;
}

.divider {
    -fx-pref-width: 500;
}

.btn_overlay {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-min-height: 65px;
    -fx-min-width: 65px;
}

.wide {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.wide:hover {
    -fx-background-color: -fx-btn-hover;
    -fx-border-color: -fx-btn-hover;
}

#addBtn {
    -fx-background-color: lightgreen;
}

.wide:pressed {
    -fx-background-color: -fx-btn-pressed;
    -fx-border-color: -fx-btn-pressed;
}


.btn_overlay:hover {
    -fx-background-color: -fx-btn-hover;
    -fx-border-color: -fx-btn-hover;
}

.btn_overlay:pressed {
    -fx-background-color: -fx-btn-pressed;
    -fx-border-color: -fx-btn-pressed;
}


#logout_img {
    -fx-image: url("/imgs/logout.png");
}

#settings_img {
    -fx-image: url("/imgs/settings.png");
}



