.box {
    -fx-padding: 15;
    -fx-spacing: 15;
}

.emphasize {
    -fx-font-weight: bolder;
}

.group {
    -fx-alignment: center-left;
    -fx-spacing: 3px;
}

.setting_row {
    -fx-padding: 0 0 10 10;
    -fx-alignment: center-left;
    -fx-spacing: 20px;
}

.setting_column {
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.group_divider {
    -fx-stroke: rgb(195, 195, 162);
}

.confirmBtns {
    -fx-padding: 0 10 10 0;
    -fx-spacing: 10px;
    -fx-alignment: center-right;
}

.button {
    -fx-cursor: hand;
}

.apply {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, rgb(49, 191, 234);
}

.apply:focused {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgb(66, 134, 244);
}